@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!--



step 1 istallo le dipendenze 
step 2 creo il collegamento con il db
step 3 creo le classi per la creazione del db
step 4 migration e update 
step 5 creo un menager per gestire i dati passati al db
step 6 creo il controlle api (CRUD)
step 7 creo le view con chiamate axios 
step 8 user , con i vari admin 



-->